{% if facebook is not sameas(false) %}
	<div class="button facebookButton">{{ facebookButton(facebook) }}</div>
{% endif %}
{% if googleplus is not sameas(false) %}
	<div class="button googleplus">{{ googlePlusButton(googleplus) }}</div>
{% endif %}
{% if twitter is not sameas(false) %}
	<div class="button twitterButton"> {{ twitterButton(twitter) }} </div>
{% endif %}